html {
	line-height: 1;
}

body {
	background: url("bg.png")
}

html, body, div, span, ol, ul, li, form, label, table, tr, th, td, article, footer, header, nav, menu, section{
	border: 0;
	margin: 0;
	font-family: inherit;
	font-size: 100%;
	font-stretch: inherit;
	font-style: inherit;
	font-variant: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding: 0;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

.page-wrap {
	cursor: auto;
	margin: 0 auto;
	max-width: 1280px;
	min-width: 300px;
	padding: 0 50px;
	position: relative;
}

.header {
	display: block;
	position: relative;
	width: 100%;
	z-index: 12;
	margin-top: 10px;
}

.header_inner {
	background: #0095DA;
	height: 50px;
	position: relative;
	z-index: 7;
}

.navigation {
	height: 50px;
	max-width: 1280px;
	overflow: hidden;
	position: relative;
}

.navigation_inner {
	width: 9000px;
}

.navigation li {
	display: block;
	float: left;
	height: 50px;
	margin-right: 1px;
	position: relative;
}

.navigation li a {
	background: #0095DA;
	position: relative;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation li a {
	color: #FFFFFF;
	display: block;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 15px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 100%;
	line-height: 50px;
	padding: 0 24px;
	text-decoration: none;
}

.navigation li a:hover {
	background-color: grey;
}

.navigation li a.active {
	color: white;
	background-color: grey;
}

.main-content {
	position: relative;
	margin-top: 10px;
	margin-bottom: 100px;
}

h3, h4 {
	line-height: 0px;
	vertical-align: middle;
}

.content {
	width: 50%;
	position: relative;
	margin-top: 10px;
	margin: 0 auto;
	margin-bottom: 100px;
	clear: both;

}

.content h1, h2{
	margin: 0;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 20pt;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	color: #444;
	text-align: center;
}

.content p{
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 15pt;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	color: #444;
	text-align: center;
}

.about_theme_left{
	position: relative;
	float: left;
	width: 70%;
}

.about_theme_left p {
	font-size: 20px;
	font-family: "Segoe UI",Arial,sans-serif;
	display: block;
	line-height: 28px;
	padding: 0;
	padding-right: 60px;
	margin: 0;
	padding-bottom: 16px;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.about_theme_right {
	position: relative;
	float: left;
	width: 30%;
}

.about_theme_right p {
	font-size: 20px;
	font-family: "Segoe UI",Arial,sans-serif;
	display: block;
	line-height: 28px;
	padding: 0;
	padding-right: 60px;
	margin: 0;
	padding-bottom: 16px;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.about_theme_left h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	text-transform: none;
	margin: 0 0 1rem;
	font-size: 2.5rem;
	color: #3ba9a9;
}

#wider_table {
	width: 70%;
	font-family: "Segoe UI",Arial,sans-serif;
}

.content table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid black;
}

.content th, td {
	border: 1px solid black;
	text-align: left;
	padding: 8px;
	background-color: #f2f2f2;
}

.content th {
	background-color: grey;
	color: white;
}

.brain_image {
	width: 608px;
	border-style: solid;
	border-radius: 50px;
	border-color: grey;
	margin: 0;
	max-width: 100%;
}

.names table {
	float: right;
	margin-right: 300px;
}

.game_board {
	position: relative;
	float: left;
	width: 50%;
}
.game_board table{
	float: left;
	border: 1px;
	border-collapse: collapse;
	width:580px;
	height:500px;
	background-color:#d9d9d9;
	position:absolute;
	margin-left: 0px; 
	margin-top: 0px;  
	text-align: center;
	z-index: 1;
}

.game_board table td{
	cursor:pointer;
	text-align:center;
	position: relative;
}

.game_board table td:hover{
	background: -moz-linear-gradient(top, #249ee4, #057cc0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#249ee4), to(#057cc0));
}

.game_board table td:active
{
	background: -moz-linear-gradient(top, #057cc0, #249ee4);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#057cc0), to(#249ee4));
}

#myTable {
	pointer-events: none;
}

.chips {
	float: left;
	position:absolute;
	z-index:2;
}

.names {
	position: relative;
	float: right;
	width: 50%;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 26px;
}

#score {
	float: right;
	margin-right: 22%;
	top: 18%;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 26px;
}

.score_table {
	position: relative;
	float: left;
	padding-top: 15px;
}


.scores td {
	min-width: 50px;
	line-height: 0px;
	text-align: center;
}

/* TAKEN FROM: http://www.w3schools.com/css/css3_buttons.asp; */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

 #opponent {
 	font-size: 18px;
 }

 #p1name, #p2name {
 	font-size: 18px;
 }

 #p2name {
 	margin-bottom: 20px;
 }

 #move_names {
 	margin-bottom: 15px;
 	border-bottom: solid;
 	border-width: 1px;
 }

 footer {
	vertical-align: bottom;
	margin: 0 auto;
	padding-bottom: 30px;
	clear: both;
	border-top: 1px solid #c4c4c4;
	background: url("footer-background.jpg");
	overflow: hidden;

	right: 0;
	left: 0;
	bottom: 0;
	height: 30px;
	width: 100%;
	z-index: 7;
	text-align: center;
}

#fixed {
	position: fixed;
}

.footer_title {
	margin: 0 auto;
	max-width: 1280px;
	min-width: 300px;
	padding: 0 0;
	text-align: center;
	color: #555555;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.submit-btn {
	background-color: #b1dbff;
	margin: 10px 0 10px 0;
}

.post {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.odd {
	background-color: #f2f9ff;
	
}
.even {
	background-color: #eceff3;
}

.form-auth {
	max-width: 330px;
	padding: 5px;
	margin: 0 auto;
}